.main {
    background-color: #ffffff;
    min-height: 600px;
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#file-list div {
    font-size: 0.8rem;
    line-height: 1.4em;
}

.main-view {
    border: 1px solid lightgrey;
    border-radius: 0.4em;
    padding: 1em;
    margin-bottom: 1em;
}

.snapshots .list-group-item {
    padding: 0.4rem 0.6rem;
}