{{define "content"}}
<div id="indexApp">
    <h2>{{.Title}}</h2>
    <div id="indexApp"></div>
    <noscript><h2>Javascript needs to be enabled to use this program!</h2></noscript>
    <div class="row">
        <div class="col-md-3 left-list">
            <div class="list-group" role="alert">
            {{ range $_, $bu := .Backups }}
                <a href="#" class="list-group-item backups" id="bu_{{$bu.Id}}" backup-id="{{$bu.Id}}">
                    <h6 style="float:left;">{{$bu.Name}} </h6>
                    <div style="float:right;" class="badge badge-secondary badge-pill"></div>
                </a>
                <div id="sn_{{$bu.Id}}" class="list-group snapshots"></div>
            {{end}}
            </div>
        </div>
        <div class="col-md-9">
            <div class="main-view" id="backup" style="display:none;">
                <div class="row">
                    <h5 class="col-md-9" id="bu-name"></h5>
                    <h5 class="col-md-2"><a href="#" class="badge badge-secondary new-bu" id="bu-button"> New
                        Backup </a></h5>
                </div>
                <div class="row">
                    <div class="col-md-3">Backup started:</div>
                    <div class="col-md-6" id="bu-created"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Location:</div>
                    <div class="col-md-6" id="bu-loc"></div>
                    <div class="col-md-3">
                        <a href="#" class="badge badge-light" id="bu-prune"> Refresh </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">Destination:</div>
                    <div class="col-md-6" id="repo-path"></div>
                    <div class="col-md-3">
                        <a href="#" class="badge badge-light" id="bu-change"> Change </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">Storage type:</div>
                    <div class="col-md-6" id="repo-type"></div>
                    <div class="col-md-3">
                        <a href="#" class="badge badge-light" id="bu-delete"> Delete </a>
                    </div>
                </div>
            </div>
            <div class="main-view" id="files" style="display:none;">
                <div class="row">
                    <div class="col-md-10">
                        <h6 class="alert alert-success" role="alert"><span id="file-count"></span>
                            files
                            for snapshot <span id="sn-id"></span> on
                            <span id="sn-date"></span>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="alert alert-success" role="alert"><a href="#" id="delete" delete-id="">Delete</a>
                        </h6>
                    </div>
                    <h6 class="alert alert-danger" role="alert" style="display:none;">Could not find files in
                        snapshot!</h6>
                    <div id="tree"></div>
                </div>
            </div>
            <div class="main-view" id="message" style="display:none;">
                <h5 class="alert alert-success" role="alert"></h5>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var data = JSON.parse('{{.Data}}');

        var prop = '';

        $('#bu-prune').on('click', function (e) {
            e.preventDefault()
            $.ajax({
                type: "GET",
                url: "/api/snapshots/prune/" + prop,
                // The key needs to match your method's input parameter (case-sensitive).
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.status == 200) {
                        if (data.status == 200) {
                            $('#message h5').html('Repository refreshed')
                            $('#message h5').addClass('alert-success')
                            $('#message').show()
                            $('#message').delay(2000).fadeOut("slow");
                        }
                    }
                }
            })
        })

        $('#delete').on('click', function (e) {
            e.preventDefault()
            $('#files').hide()
            var id = $(this).attr('delete-id')
            $.ajax({
                type: "GET",
                url: "/api/snapshots/forget/" + prop + "/" + id,
                // The key needs to match your method's input parameter (case-sensitive).
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.status == 200) {
                        $('#message h5').html('Snapshot ' + id + ' successfully deleted')
                        $('#message h5').addClass('alert-success')
                        $('#message').show()
                        showDeatils()
                        $('#message').delay(2000).fadeOut("slow");
                    }
                }
            })
        })

        $(".snapshots").on('click', '.snapshot', (function (e) {
            e.preventDefault()
            $('.alert-danger').hide()
            var snid = $(this).attr('id')
            $('.snapshot').removeClass('list-group-item-primary')
            $(this).addClass('list-group-item-primary')
            var date = $('#' + snid).html()
            $.ajax({
                type: "GET",
                url: "/api/files/" + prop + "/" + snid,
                // The key needs to match your method's input parameter (case-sensitive).
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.status == 200) {
                        $('#sn-id').html(snid)
                        $('#delete').attr('delete-id', snid)
                        $('#sn-date').html(date)
                        $('#file-count').html(data.data.length);

                        $('#tree').jstree({
                            "types": {
                                "root": {
                                    "valid_children": ["default"]
                                },
                                "default": {
                                    "valid_children": ["default", "file"]
                                },
                                "file": {
                                    "icon": "glyphicon glyphicon-file",
                                    "valid_children": []
                                }
                            },
                            "plugins": [
                                "types", "wholerow"
                            ]
                        })
                        $('#tree').jstree(true).settings.core.data = data.data;
                        $('#tree').jstree(true).refresh();

                    } else {
                        $('.alert-danger').show()
                        $('.alert-success').hide()
                    }
                    $('#files').show()
                },
                failure: function (errMsg) {
                    alert(errMsg)
                }
            });
        }))

        $('.new-bu').click(function (e) {
            createBackup($(this).attr('backup-id'))
        })

        $('.backups').click(function (e) {
            e.preventDefault()
            $('#files').hide()
            prop = $(this).attr('backup-id')
            if ($(this).hasClass('active')) {
                $('#sn_' + prop).toggle()
                return
            }
            $('.section').hide();
            $('#backup').show();
            $(this).tab('show')
            showDeatils()
        })

        function createBackup(buid) {
            $.ajax({
                type: "GET",
                url: "/api/snapshots/new/" + buid,
                // The key needs to match your method's input parameter (case-sensitive).
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.data == true) {
                        $('#files').hide()
                        $('#message h5').html('New snapshot created')
                        $('#message h5').addClass('alert-success')
                        $('#message').show()
                        showDeatils()
                        $('#message').delay(2000).fadeOut("slow");
                    }
                },
                failure: function (errMsg) {
                    alert(errMsg)
                }
            });
        }

        function showDeatils() {
            $('.snapshots').hide();
            var bu = data.backups[prop]
            $('#bu-name').html(bu.name)
            $('#bu-created').html(bu.created)
            $('#bu-loc').html(bu.source)
            $('#repo-path').html(bu.repo_path)
            $('#repo-type').html(bu.type)
            $('#bu-button').attr('backup-id', prop)
            getSnapshots(bu)
        }

        function getSnapshots(bu) {
            var request = $.ajax({
                dataType: "json",
                url: "/api/snapshots/" + bu.id
            });

            request.done(function (data) {
                $('#sn_' + prop).html('')
                if (data.status == 200) {
                    $("#bu_" + prop + " .badge").html(data.data.length)
                    var str = ''
                    $.each(data.data, function (idx, val) {
                        str = '<a href="#" id="' + val.id + '" class="list-group-item snapshot small d-flex justify-content-between align-items-center" role="alert">' + val.date + '</a>'
                        $('#sn_' + prop).append(str);
                    });
                }

                $('#sn_' + prop).show();
            })
        }

        function checkValidPath(path) {
            $.ajax({
                url: "api/check/path",
                type: 'POST',
                data: '{"path":"' + path + '"}',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.overrideMimeType("text/plain; charset=x-user-defined")
                }
            }).done(function (response) {
                if (!response.data) {
                    alert('Not a valid local path');
                    error.path = "Path error";
                    return false
                }
            });
            return true
        }

        $("#formBuPath").blur(function (e) {
            checkValidPath($(this).val());
        });

        /*
             function showDetail(idx) {
                 var type = backups[idx].repoType;
                 //console.log(backups[idx])
                 $('#formBuName').val(backups[idx].backupName);
                 $('#formBuPath').val(backups[idx].backupPath);
                 $('#formRepoPath').val(backups[idx].repoPath);
                 $('#formRepoPasswd').val(backups[idx].repoPasswd);
                 $("input[name=type][value=" + type + "]").prop("checked", true);
                 checkValidPath(backups[idx].backupPath);
             }


             $('.list-group-item').on('click', function () {
                 $('.list-group-item').removeClass('active');
                 $(this).addClass('active');
                 var idxStr = $(this).attr('id');
                 idx = idxStr.substring(4, idxStr.length);
                 showDetail(idx)
             })


             $("#details-form").submit(function (e) {
                 e.preventDefault();
                 console.log(error);
                 saveBuDetails()
             });

             function saveBuDetails() {
                 alert('save')
             }
     */
    })

</script>

{{end}}