{{define "content"}}
<div id="indexApp">
    <h2>{{.Title}}</h2>
    <div id="indexApp"></div>
    <noscript><h2>Javascript needs to be enabled to send the payment!</h2></noscript>
    <div class="row">
        <div class="col-md-3 left-list">
            <div class="list-group" role="alert">
            {{ range $_, $bu := .Backups }}
                <a href="#" class="list-group-item backups" id="bu_{{$bu.Id}}" backup-id="{{$bu.Id}}">
                    <h6 style="float:left;">{{$bu.Name}} </h6>
                    <div style="float:right;" class="badge badge-secondary badge-pill"></div>
                </a>
                <div id="sn_{{$bu.Id}}" class="list-group snapshots"></div>
            {{end}}
            </div>
        </div>
        <div class="col-md-9">
            <div class="main-view" id="backup">
                <div class="row">
                    <h5 class="col-md-9" id="bu-name"></h5>
                    <h5 class="col-md-2"><a href="#" class="badge badge-secondary new-bu" id="bu-button"> New
                        Backup </a></h5>
                </div>
                <div class="row">
                    <div class="col-md-3">Backup started:</div>
                    <div class="col-md-6" id="bu-created"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Location:</div>
                    <div class="col-md-6" id="bu-loc"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Destination:</div>
                    <div class="col-md-6" id="repo-path"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Storage type:</div>
                    <div class="col-md-6" id="repo-type"></div>
                    <div class="col-md-3"><a href="#" class="badge badge-light"> Change </a>&nbsp;&nbsp;&nbsp;<a
                            href="#" class="badge badge-light"> Delete </a></div>
                </div>
            </div>
            <div class="main-view" id="files">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="alert alert-success" role="alert">Files for snapshot <span id="sn-id"></span> on
                            <span id="sn-date"></span></h5>
                        <div id="file-list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#files').hide();
        var data = JSON.parse('{{.Data}}');
        var prop = '';

        for (prop in data.backups) {
            break
        }

        showDeatils()

        $(".snapshots").on('click', '.snapshot', (function (e) {
            e.preventDefault()
            var snid = $(this).attr('id')
            $('.snapshot').removeClass('list-group-item-primary')
            $(this).addClass('list-group-item-primary')
            var date = $('#' + snid).html()
            $.ajax({
                type: "GET",
                url: "/api/files/" + prop + "/" + snid,
                // The key needs to match your method's input parameter (case-sensitive).
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.status == 200) {
                        $('#sn-id').html(snid)
                        $('#sn-date').html(date)
                        $('#file-list').html('');
                        $.each(data.data, function (idx, val) {
                            str = "<div>" + val.Name + "</div>"
                            $('#file-list').append(str);
                        });
                        $('#files').show()
                    }
                },
                failure: function (errMsg) {
                    alert(errMsg)
                }
            });
        }))

        $('.new-bu').click(function (e) {
            createBackup($(this).attr('backup-id'))
        })

        $('.backups').click(function (e) {
            e.preventDefault()
            $('#files').hide()
            prop = $(this).attr('backup-id')
            if ($(this).hasClass('active')) {
                $('#sn_' + prop).toggle()
                return
            }
            $('.section').hide();
            $('#backup').show();
            $(this).tab('show')
            showDeatils()
        })

        function createBackup(buid) {
            $.ajax({
                type: "GET",
                url: "/api/snapshots/new/" + buid,
                // The key needs to match your method's input parameter (case-sensitive).
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.data == true) {
                        showDeatils()
                    }
                },
                failure: function (errMsg) {
                    alert(errMsg)
                }
            });
        }

        function showDeatils() {
            $('.snapshots').hide();
            var bu = data.backups[prop]
            $('#bu-name').html(bu.name)
            $('#bu-created').html(bu.created)
            $('#bu-loc').html(bu.source)
            $('#repo-path').html(bu.repo_path)
            $('#repo-type').html(bu.type)
            $('#bu-button').attr('backup-id', prop)
            getSnapshots(bu)
        }

        function getSnapshots(bu) {
            var request = $.ajax({
                dataType: "json",
                url: "/api/snapshots/" + bu.id
            });

            request.done(function (data) {
                $('#sn_' + prop).html('')
                if (data.status == 200) {
                    $("#bu_" + prop + " .badge").html(data.data.length)
                    var str = ''
                    $.each(data.data, function (idx, val) {
                        str = '<a href="#" id="' + val.id + '" class="list-group-item snapshot small d-flex justify-content-between align-items-center" role="alert">' + val.date + '</a>'
                        $('#sn_' + prop).append(str);
                    });
                }

                $('#sn_' + prop).show();
            })
        }

        function checkValidPath(path) {
            $.ajax({
                url: "api/check/path",
                type: 'POST',
                data: '{"path":"' + path + '"}',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.overrideMimeType("text/plain; charset=x-user-defined")
                }
            }).done(function (response) {
                if (!response.data) {
                    alert('Not a valid local path');
                    error.path = "Path error";
                    return false
                }
            });
            return true
        }

        $("#formBuPath").blur(function (e) {
            checkValidPath($(this).val());
        });

        /*
             function showDetail(idx) {
                 var type = backups[idx].repoType;
                 //console.log(backups[idx])
                 $('#formBuName').val(backups[idx].backupName);
                 $('#formBuPath').val(backups[idx].backupPath);
                 $('#formRepoPath').val(backups[idx].repoPath);
                 $('#formRepoPasswd').val(backups[idx].repoPasswd);
                 $("input[name=type][value=" + type + "]").prop("checked", true);
                 checkValidPath(backups[idx].backupPath);
             }


             $('.list-group-item').on('click', function () {
                 $('.list-group-item').removeClass('active');
                 $(this).addClass('active');
                 var idxStr = $(this).attr('id');
                 idx = idxStr.substring(4, idxStr.length);
                 showDetail(idx)
             })


             $("#details-form").submit(function (e) {
                 e.preventDefault();
                 console.log(error);
                 saveBuDetails()
             });

             function saveBuDetails() {
                 alert('save')
             }
     */
    })

</script>

{{end}}