{{define "content"}}
<noscript><h2>Javascript needs to be enabled to use this program!</h2></noscript>
<div id="indexApp">
    <div class="row" id="header">
        <div class="col-md-8">
            <h2>{{.Title}}</h2>
        </div>
        <div class="col-md-2">
            <h3>
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#srcModal">
                    Add Backup Folder
                </button>
            </h3>
        </div>
        <div class="col-md-2">
            <h3>
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#destModal">
                    Add Repository
                </button>
            </h3>
        </div>
    </div>
    <div id="indexApp"></div>
    <div class="row">
        <div class="col-md-3 left-list">
            <div class="list-group" role="alert">
            {{ range $_, $bu := .Backups }}
                <a href="#" class="list-group-item backups" id="bu_{{$bu.Id}}" backup-id="{{$bu.Id}}">
                    <h6 style="float:left;">{{$bu.Name}} </h6>
                    <div style="float:right;" class="badge badge-secondary badge-pill"></div>
                </a>
                <div id="sn_{{$bu.Id}}" class="list-group snapshots"></div>
            {{end}}
            </div>
        </div>
        <div class="col-md-9">
            <div class="main-view" id="backup" style="display:none;">
                <div class="row">
                    <h4 class="col-md-9" id="bu-name"></h4>
                    <h4 class="col-md-2">
                        <a href="#" class="badge badge-secondary new-bu" id="bu-button">
                            New Snapshot 
                        </a>
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-3">Backup started:</div>
                    <div class="col-md-6" id="bu-created"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Source Location:</div>
                    <div class="col-md-6" id="bu-loc"></div>
                    <div class="col-md-3">
                            <a href="#" class="badge badge-light" id="bu-change"> Change </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">Repository:</div>
                    <div class="col-md-6" id="repo-path"></div>
                    <div class="col-md-3">
                        <a href="#" class="badge badge-light" id="bu-prune"> Refresh </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">Storage type:</div>
                    <div class="col-md-6" id="repo-type"></div>
                    <div class="col-md-3">
                        <a href="#" class="badge badge-light" id="bu-delete"> Delete </a>
                    </div>
                </div>
            </div>
            <div class="main-view" id="files" style="display:none;">
                <div class="row">
                    <div class="col-md-10">
                        <h6 class="alert alert-success" role="alert"><span id="file-count"></span>
                            files
                            for snapshot <span id="sn-id"></span> on
                            <span id="sn-date"></span>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="alert alert-success" role="alert"><a href="#" id="delete" delete-id="">Delete</a>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="alert alert-danger" role="alert" style="display:none;">Could not find files in
                            snapshot!</h6>
                        <div id="tree"></div>
                    </div>
                </div>
            </div>
            <div class="main-view" id="message" style="display:none;">
                <h5 class="alert alert-success" role="alert"></h5>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="destModal" tabindex="-1" role="dialog" aria-labelledby="destModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new backup repository</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-body" id="destForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="destName">Repository Name</label>
                            <input type="text" class="form-control" id="destName" aria-describedby="destNameHelp"
                                   placeholder="Name">
                            <small id="destNameHelp" class="form-text text-muted">Please choose for easy
                                identifiction.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="destType">Pick a repository type</label>
                            <select class="form-control" id="destType" aria-describedby="destHelp">
                                <option value="local">Local Folder</option>
                                <option value="sftp">SFTP Server</option>
                                <option value="bb">BackBlaze</option>
                                <option value="s3">AWS S3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="destPasswd">Repository Password</label>
                            <input type="text" class="form-control" id="destPasswd" aria-describedby="destPasswdHelp"
                                   placeholder="Password">
                        </div>
                    </div>
                </div>
                <div id="dest-extra-data"></div>
            </form>
            <div class="modal-footer">
                <button type="button" id="save-repo" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="srcModal" tabindex="-1" role="dialog" aria-labelledby="srcModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new backup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="modal-body" id="srcForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="srcName">Backup Name</label>
                            <input type="text" class="form-control" id="srcName" aria-describedby="srcNameHelp"
                                   placeholder="Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="src">Backup Source Folder</label>
                            <input type="text" class="form-control" id="src" aria-describedby="srcHelp"
                                   placeholder="Source Path">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="repoId">Select the backup repository</label>
                            <select class="form-control" id="repoId" aria-describedby="destHelp"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="backupNow">
                            <label class="form-check-label" for="backupNow">
                                Backup now
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" id="save-backup" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#save-backup').on('click', function () {
            var xtra = {};
            $('#src-extra-data input').each(function () {
                xtra[this.id] = $(this).val()
            })
            var data = {
                name: $('#srcName').val(),
                source: $('#src').val(),
                repoId: parseInt($('#repoId').val()),
                buNow: $('#backupNow:checked').length > 0,
                data: xtra
            };

            if (!validateBackup()) {
                alert("Please fill in all fields");
                return;
            }

            console.log(data)
            var jqxhr = $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: "/api/backup/new",
                data: JSON.stringify(data),
                dataType: "json"
            }).done(function (response) {
                console.log(response)
                $('#srcModal').modal('hide');
            }).fail(function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            });
        });

        $('#save-repo').on('click', function () {
            var xtra = {};
            $('#dest-extra-data input').each(function () {
                xtra[this.id] = $(this).val()
            })

            var data = {
                Password: $('#destPasswd').val(),
                Name: $('#destName').val(),
                Type: $('#destType').val(),
                Data: xtra
            };

            if (!validateRepo()) {
                alert("Please fill in all fields");
                return;
            }

            var jqxhr = $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: "/api/repositories/new",
                data: JSON.stringify(data),
                dataType: "json"
            }).done(function (response) {
                $('#destModal').modal('hide');

            }).fail(function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            });
        });

        $('#destType').on('change', function () {
            var sect = $('#dest-extra-data').empty();
            var repoType = $('#destType option:selected').val() + "DataFields";
            var fn = window[repoType];
            if (typeof fn === "function") fn();
        })

        $('#destModal').modal('handleUpdate')

        $('#destModal').on('shown.bs.modal', function (e) {
            var repoType = $('#destType option:selected').val() + "DataFields";
            var fn = window[repoType];
            if (typeof fn === "function") fn();
        })

        $('#destModal').on('hidden.bs.modal', function (e) {
            $('#dest-extra-data').empty();
        })

        $('#srcModal').on('show.bs.modal', function (e) {
            var modal = $(this)
            var select = modal.find('.modal-body #repoId')
            select.find('option').remove()

            var jqxhr = $.ajax({
                type: "GET",
                url: "/api/repositories",
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

            jqxhr.done(function (response) {
                console.log(response);
                if (response.status == 200) {
                    $.each(response.data, function (key, item) {
                        select.append($("<option/>", {
                            value: item.id,
                            text: item.path + " (" + item.kind + ") "
                        }));
                    });
                }
            });

            jqxhr.fail(function (errMsg) {
                console.log(errMsg);
            });
        });

        var data = JSON.parse('{{.Data}}');

        var prop = '';

        $('#saveNewBackup').on('click', function (e) {

            $.ajax({
                type: "POST",
                url: "/api/newbackup",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.status == 200) {
                        $('#srcModal').modal('hide')
                        console.log(response)
                    }
                },
                failure: function (errMsg) {
                    console.log(errMsg)
                }
            });
        });

        $('#bu-prune').on('click', function (e) {
            e.preventDefault()
            $.ajax({
                type: "GET",
                url: "/api/snapshots/prune/" + prop,
                // The key needs to match your method's input parameter (case-sensitive).
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.status == 200) {
                        $('#message h5').html('Repository refreshed')
                        $('#message h5').addClass('alert-success')
                        $('#message').show()
                        $('#message').delay(2000).fadeOut("slow");
                    }
                }
            })
        })

        $('#bu-delete').on('click', function (e) {
            e.preventDefault()
            $.ajax({
                type: "POST",
                url: "/api/backup/delete/" + prop,
                // The key needs to match your method's input parameter (case-sensitive).
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.status == 200) {
                        $('#backup').hide()
                        $('#message h5').html('Repository refreshed')
                        $('#message h5').addClass('alert-success')
                        $('#message').show()
                        $('#message').delay(2000).fadeOut("slow");
                    }
                }
            })
        })

        $('#delete').on('click', function (e) {
            e.preventDefault()
            $('#files').hide()
            var id = $(this).attr('delete-id')
            $.ajax({
                type: "GET",
                url: "/api/snapshots/forget/" + prop + "/" + id,
                // The key needs to match your method's input parameter (case-sensitive).
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.status == 200) {
                        $('#message h5').html('Snapshot ' + id + ' successfully deleted')
                        $('#message h5').addClass('alert-success')
                        $('#message').show()
                        showDeatils()
                        $('#message').delay(2000).fadeOut("slow");
                    }
                }
            })
        })

        $(".snapshots").on('click', '.snapshot', (function (e) {
            e.preventDefault()
            $('.alert-danger').hide()
            var snid = $(this).attr('id')
            $('.snapshot').removeClass('list-group-item-primary')
            $(this).addClass('list-group-item-primary')
            var date = $('#' + snid).html()
            $.ajax({
                type: "GET",
                url: "/api/files/" + prop + "/" + snid,
                // The key needs to match your method's input parameter (case-sensitive).
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.status == 200) {
                        $('#sn-id').html(snid)
                        $('#delete').attr('delete-id', snid)
                        $('#sn-date').html(date)
                        $('#file-count').html(data.data.length);

                        $('#tree').jstree({
                            "types": {
                                "root": {
                                    "valid_children": ["default"]
                                },
                                "default": {
                                    "valid_children": ["default", "file"]
                                },
                                "file": {
                                    "icon": "glyphicon glyphicon-file",
                                    "valid_children": []
                                }
                            },
                            "plugins": [
                                "types", "wholerow"
                            ]
                        })
                        $('#tree').jstree(true).settings.core.data = data.data;
                        $('#tree').jstree(true).refresh();

                    } else {
                        $('.alert-danger').show()
                        $('.alert-success').hide()
                    }
                    $('#files').show()
                },
                failure: function (errMsg) {
                    alert(errMsg)
                }
            });
        }))

        $('.new-bu').click(function (e) {
            createBackup($(this).attr('backup-id'))
        })

        $('.backups').click(function (e) {
            e.preventDefault()
            $('#files').hide()
            prop = $(this).attr('backup-id')
            if ($(this).hasClass('active')) {
                $('#sn_' + prop).toggle()
                return
            }
            $('.section').hide();
            $('#backup').show();
            $(this).tab('show')
            showDeatils()
        })

        $("#formBuPath").blur(function (e) {
            checkValidPath($(this).val());
        });

        function createBackup(buid) {
            $.ajax({
                type: "GET",
                url: "/api/snapshots/new/" + buid,
                // The key needs to match your method's input parameter (case-sensitive).
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.data == true) {
                        $('#files').hide()
                        $('#message h5').html('New snapshot created')
                        $('#message h5').addClass('alert-success')
                        $('#message').show()
                        showDeatils()
                        $('#message').delay(2000).fadeOut("slow");
                    }
                },
                failure: function (errMsg) {
                    alert(errMsg)
                }
            });
        }

        function showDeatils() {
            $('.snapshots').hide();
            var bu = data.backups[prop]
            $('#bu-name').html(bu.name)
            $('#bu-created').html(bu.created)
            $('#bu-loc').html(bu.source)
            $('#repo-path').html(bu.repo_name + ' &nbsp; ( ' + bu.repo_path + ' )')
            $('#repo-type').html(bu.type)
            $('#bu-button').attr('backup-id', prop)
            getSnapshots(bu)
        }

        function getSnapshots(bu) {
            var request = $.ajax({
                dataType: "json",
                url: "/api/snapshots/" + bu.id
            });

            request.done(function (data) {
                $('#sn_' + prop).html('')
                if (data.status == 200) {
                    $("#bu_" + prop + " .badge").html(data.data.length)
                    var str = ''
                    $.each(data.data, function (idx, val) {
                        str = '<a href="#" id="' + val.id + '" class="list-group-item snapshot small d-flex justify-content-between align-items-center" role="alert">' + val.date + '</a>'
                        $('#sn_' + prop).append(str);
                    });
                }

                $('#sn_' + prop).show();
            })
        }

        function checkValidPath(path) {
            $.ajax({
                url: "api/check/path",
                type: 'POST',
                data: '{"path":"' + path + '"}',
                dataType: 'json',
                beforeSend: function (xhr) {
                    xhr.overrideMimeType("text/plain; charset=x-user-defined")
                }
            }).done(function (response) {
                if (!response.data) {
                    alert('Not a valid local path');
                    error.path = "Path error";
                    return false
                }
            });
            return true
        }
    })

</script>

{{end}}